<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjectEcho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ProjectEcho.Properties.Settings>
      <setting name="boldness" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="darkmode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textsize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="t1notes" serializeAs="String">
        <value>Want to leave some notes for your future self? Write them here.</value>
      </setting>
      <setting name="t2notes" serializeAs="String">
        <value>Want to leave some notes for your future self? Write them here.</value>
      </setting>
      <setting name="bgcolor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="bgmain" serializeAs="String">
        <value>Control</value>
      </setting>
      <setting name="fcolor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="t3notes" serializeAs="String">
        <value>Want to leave some notes for your future self? Write them here.</value>
      </setting>
      <setting name="fcl1a" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl1a" serializeAs="String">
        <value />
      </setting>
      <setting name="ccl1a" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb1a" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb1a" serializeAs="String">
        <value />
      </setting>
      <setting name="clb1a" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl1b" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl1b" serializeAs="String">
        <value />
      </setting>
      <setting name="ccl1b" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb1b" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb1b" serializeAs="String">
        <value />
      </setting>
      <setting name="clb1b" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl1c" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl1c" serializeAs="String">
        <value />
      </setting>
      <setting name="ccl1c" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb1c" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb1c" serializeAs="String">
        <value />
      </setting>
      <setting name="clb1c" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl1d" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl1d" serializeAs="String">
        <value />
      </setting>
      <setting name="ccl1d" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb1d" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb1d" serializeAs="String">
        <value />
      </setting>
      <setting name="clb1d" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl1e" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl1e" serializeAs="String">
        <value />
      </setting>
      <setting name="ccl1e" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb1e" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb1e" serializeAs="String">
        <value />
      </setting>
      <setting name="clb1e" serializeAs="String">
        <value />
      </setting>
      <setting name="abcolor" serializeAs="String">
        <value>Gainsboro</value>
      </setting>
      <setting name="fbcolor" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="mcl2a" serializeAs="String">
        <value />
      </setting>
      <setting name="mtb2a" serializeAs="String">
        <value />
      </setting>
      <setting name="mcl3a" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl3a" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl3a" serializeAs="String">
        <value />
      </setting>
      <setting name="mtb3a" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb3a" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb3a" serializeAs="String">
        <value />
      </setting>
      <setting name="mcl3b" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl3b" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl3b" serializeAs="String">
        <value />
      </setting>
      <setting name="mtb3b" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb3b" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb3b" serializeAs="String">
        <value />
      </setting>
      <setting name="mcl3c" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl3c" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl3c" serializeAs="String">
        <value />
      </setting>
      <setting name="mtb3c" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb3c" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb3c" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl3d" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl3d" serializeAs="String">
        <value />
      </setting>
      <setting name="ccl3d" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb3d" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb3d" serializeAs="String">
        <value />
      </setting>
      <setting name="clb3d" serializeAs="String">
        <value />
      </setting>
      <setting name="fcl3e" serializeAs="String">
        <value />
      </setting>
      <setting name="gcl3e" serializeAs="String">
        <value />
      </setting>
      <setting name="ccl3e" serializeAs="String">
        <value />
      </setting>
      <setting name="ftb3e" serializeAs="String">
        <value />
      </setting>
      <setting name="gtb3e" serializeAs="String">
        <value />
      </setting>
      <setting name="clb3e" serializeAs="String">
        <value />
      </setting>
    </ProjectEcho.Properties.Settings>
  </userSettings>
</configuration>